<div class="register_table">
	<div class="container-fluid">
		<div class="row">
    		<div class="col">
      			
    		</div>
    		<div class="col-lg-6 col-md-10">
    			<div [hidden]="submitted">
    				<div class="title_register">
		  				<h2> HORA DE SEGURIDAD</h2>
    				</div>
      				<form (ngSubmit)="onSubmit()" #bookForm="ngForm">
      					<div class="form-group submit-customer-head">
      						<button type="submit" class="btn btn-primary btn-lg" (click)="submitted=true">Subir</button>
    					  </div>
  						<div class="form-group">
    						<label for="notation_1" class="label_register">Tema</label>
    						<input type="text" class="form-control" id="notation_1" required [(ngModel)]="model.notation1" name="notation_1" #notation_1="ngModel">
    						<div [hidden]="!(notation_1.invalid || notation_1.pristine) || notation_1.untouched" class="alert alert-danger">
    						requerido "Tema" información
    						</div>
  						</div>

  						<div class="form-group">
    						<label for="notation_2" class="label_register">Condicion Sub-estandar</label>
    						<input type="text" class="form-control" id="notation_2" required [(ngModel)]="model.notation2" name="notation2" #notation_2="ngModel">
    						<div [hidden]="!(notation_2.invalid || notation_2.pristine) || notation_2.untouched" class="alert alert-danger">
    						requerido "Condicion Sub-estandar" información
    						</div>
  						</div>	

  						<div class="form-group">
    						<label for="notation_3" class="label_register">Acto sub-estandar</label>
    						<input type="text" class="form-control" id="notation_4" required [(ngModel)]="model.notation3" name="notation3" #notation_3="ngModel">
    						<div [hidden]="!(notation_3.invalid || notation_3.pristine) || notation_3.untouched" class="alert alert-danger">
    							requerido "Acto sub-estandar" información
    						</div>
  						</div>
  						<div class="form-group">
    						<label for="notation_4" class="label_register">Observaciones</label>
    						<input type="text" class="form-control" id="notation_4" required [(ngModel)]="model.notation4" name="notation4" #notation_4="ngModel">
    						<div [hidden]="!(notation_4.invalid || notation_4.pristine) || notation_4.untouched" class="alert alert-danger">
    							requerido "Observaciones" información
    						</div>
  						</div>
  						<div class="form-group">
    						<label for="notation_6" class="label_register">Images</label>
    						<input type="file" class="form-control-file" id="notation_6" required [(ngModel)]="model.notation6" name="notation6">
    						
  						</div>
              <div class="form-group submit-customer-bottom">
                  <button type="submit" class="btn btn-primary btn-lg" (click)="submitted=true">Subir</button>
              </div>
					</form>
    			</div>
          <div [hidden]="!submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newBookRegister()">Add</button>
          </div>
    		</div>
    		<div class="col">
      			
    		</div>
  		</div>
	</div>

</div>
