<div class="register_table">
	<div class="container-fluid">
		<div class="row">
    		<div class="col">
      			
    		</div>
    		<div class="col-6">
    			<div [hidden]="submitted">
    				<div class="title_register">
		  				<h2> Informe Pre-liminar</h2>
    				</div>
      				<form (ngSubmit)="onSubmit()" #bookForm="ngForm">
      					<div class="form-group submit-customer">
      						<button type="submit" class="btn btn-primary btn-lg" (click)="submitted=false">Subir</button>
    					</div>
  						<div class="form-group">
    						<label for="notation_1">Que Ocurrió</label>
    						<input type="text" class="form-control" id="notation_1" required [(ngModel)]="model.notation1" name="notation_1" #notation_1="ngModel">
    						<div [hidden]="notation_1.valid || notation_1.pristine" class="alert alert-danger">
    						requerido "Que ocurrió" información
    						</div>
  						</div>

  						<div class="form-group">
    						<label for="notation_2">Cuando ocurió</label>
    						<input type="text" class="form-control" id="notation_2" required [(ngModel)]="model.notation2" name="notation_2" #notation_2="ngModel">
    						<div [hidden]="notation_2.valid || notation_2.pristine" class="alert alert-danger">
    						requerido "Cuando ocurió" información
    						</div>
  						</div>	


  						<div class="form-group">
    						<label for="notation_3">Donde ocurrió</label>
    						<select class="form-control"  id="power" required [(ngModel)]="model.notation3" name="power">
  								<option *ngFor="let pow of notation3" [value]="pow">{{pow}}</option>
  							</select>	

  						</div>
  						<div class="form-group">
    						<label for="notation_4">Impacto en la seguridad</label>
    						<input type="text" class="form-control" id="notation_4" required [(ngModel)]="model.notation4" name="notation_4" #notation_4="ngModel">
    						<div [hidden]="notation_4.valid || notation_4.pristine" class="alert alert-danger">
    							requerido "Impacto en la seguridad" información
    						</div>
  						</div>
  						<div class="form-group">
    						<label for="notation_5">Hipótesis inicial</label>
    						<input type="text" class="form-control" id="notation_5" required [(ngModel)]="model.notation5" name="notation_5" #notation_5="ngModel">
    						<div [hidden]="notation_5.valid || notation_5.pristine" class="alert alert-danger">
    							requirido "Hipótesis inicial" información
    						</div>
  						</div>
  						<div class="form-group">
    						<label for="notation_6">Subir archivo</label>
    						<input type="file" class="form-control-file" id="notation_6" required [(ngModel)]="model.photo" name="notation_6" #notation_6="ngModel">
    						<div [hidden]="notation_6.valid || notation_6.pristine" class="alert alert-danger">
    							requerido "Images" información
    						</div>
  						</div>
					</form>
    			</div>
    		</div>
    		<div class="col">
      			
    		</div>
  		</div>
	</div>

</div>
