<div class="register_table">
	<div class="container-fluid">
		<div class="row">
    		<div class="col">
      			
    		</div>
    		<div class="col-6">
    			<div [hidden]="submitted">
    				<div class="title_register">
		  				<h2> Informe Pre-liminar</h2>
    				</div>
      				<form (ngSubmit)="onSubmit()" #bookForm="ngForm">
      					<div class="form-group submit-customer">
      						<button type="submit" class="btn btn-primary btn-lg" (click)="submitted=true;  ">Subir</button>
    					</div>

              <div class="form-group">
                <label for="notation_1">EQUIPO</label>
                <select class="form-control"  id="power" required [(ngModel)]="model.notation1" name="power">
                  <option *ngFor="let pow of machine_notation" [value]="pow">{{pow}}</option>
                </select> 

              </div>
  						<div class="form-group">
    						<label for="notation_2" class="label_register">OBSERVADORES DEL OPERADOR</label>
    						<input type="text" class="form-control" id="notation_2" required [(ngModel)]="model.notation2" name="notation_2" #notation_2="ngModel">
    						<div [hidden]="!(notation_2.invalid || notation_2.pristine ) || notation_2.untouched" class="alert alert-danger">
    						requerido "OBSERVADORES DEL OPERADOR" información
    						</div>
  						</div>


              <div class="form-group">
                <label for="notation_3">SISTEMA</label>
                <select class="form-control"  id="power" required [(ngModel)]="model.notation3" name="power">
                  <option *ngFor="let pow of sistem_notation" [value]="pow">{{pow}}</option>
                </select> 
              </div>

              <div class="form-group">
                <label for="notation_4">TIPO DE FALLA</label>
                <select class="form-control"  id="power" required [(ngModel)]="model.notation4" name="power">
                  <option *ngFor="let pow of fail_notation" [value]="pow">{{pow}}</option>
                </select> 
              </div>

  						<div class="form-group">
    						<label for="notation_5" class="label_register">AVERÍA/FALLA</label>
    						<input type="text" class="form-control" id="notation_5" required [(ngModel)]="model.notation5" name="notation_5" #notation_5="ngModel">
    						<div [hidden]="!(notation_5.invalid || notation_5.pristine) ||  notation_5.untouched" class="alert alert-danger">
    						requerido "AVERÍA/FALLA" información
    						</div>
  						</div>	

              
  						<div class="form-group">
    						<label for="notation_6">MANTENEDOR DE TURNO</label>
    						<select class="form-control"  id="power" required [(ngModel)]="model.notation6" name="power">
  								<option *ngFor="let pow of customer_notation" [value]="pow">{{pow}}</option>
  							</select>	

  						</div>
  						<div class="form-group">
    						<label for="notation_7" class="label_register">ACCIONES REALIZADAS</label>
    						<input type="text" class="form-control" id="notation_7" required [(ngModel)]="model.notation7" name="notation_7" #notation_7="ngModel">
    						<div [hidden]="!(notation_7.invalid || notation_7.pristine) || notation_7.untouched" class="alert alert-danger">
    							requerido "ACCIONES REALIZADAS" información
    						</div>
  						</div>
  						<div class="form-group">
    						<label for="notation_8">Subir archivo</label>
    						<input type="file" class="form-control-file" id="notation_8" >    						
  						</div>
					</form>
    			</div>
          <div [hidden]="!submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newBookRegister()">Add</button>
          </div>
    		</div>
    		<div class="col">
      			
    		</div>
  		</div>
	</div>

</div>
